test/mocks/playbooks/hello_world/playbook.json
{
  "Playbook": "HelloWorld",
  "Comment": "A simple playbook used for testing",
  "StartAt": "HelloWorld",
  "States": {
    "HelloWorld": {
      "Type": "Pass",
      "Next": "Choice_State"
    },
    "How_Are_You": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.results.result",
          "StringEquals": "true",
          "Next": "Fine"
        },
        {
          "And": [
            {
              "Not": {
                "Variable": "$.stateinput.key",
                "IsPresent": true
              }
            }
          ],
          "Next": "Not_Fine"
        }
      ]
    },
    "Fine": {
      "Type": "Succeed"
    },
    "Not_Fine": {
      "Type": "Fail"
    }
  }
}
